version: '3.7'

services:

  redis:
    image: 'redis'
    volumes:
      - 'redis:/data'

  celery:
    env_file: .env
    image: 'encouse/getcourseadapter'
    command: celery -A server:celery worker -l debug --concurrency=2
    depends_on:
      - redis

  web:
    env_file: .env
    image: 'encouse/getcourseadapter'
    command: gunicorn --bind 0.0.0.0:5000 --access-logfile - --error-logfile - --log-level info server:app
    ports: 
      - 127.0.0.1:5000:5000
    depends_on:
      - celery
      - redis

volumes:
  redis: {}